<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4</title>
    <script src="http://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root"></div>
</body>


<script>
    const app = Vue.createApp({
        data(){
            return{
                inputValue:'',
                list:[]
            }
        },
        methods:{
            handleAddItem(){
                if(this.inputValue!=''){
                    this.list.unshift(this.inputValue);
                    this.inputValue = '';
                }
            }
        },
        template:`
            <div>
                <input v-model="inputValue"
                @keydown.enter="handleAddItem"
                >
                <button 
                @click="handleAddItem"
                v-bind:title="inputValue"
                >增加</button>
                <li v-for="item of list">{{item}}</li>
            </div>
        `
    });
    const vm = app.mount('#root');
</script>


</html>